@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.full-screen-rectangle {
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  background-color: #ccc; /* Example background color */
  /* Additional styles as needed */
}
.item1{
  font-family: 'PT Sans'    ;
}
.custom-width{
  width: 520px;
}
@media (max-width: 520px) {
  .custom-width {
    width: 340px; /* Adjust as needed */
  }
}
@media screen and (max-width: 374px) {
  .custom-width {
    width: 140px; /* Adjust as needed */
  }
}
