@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.nav-item:hover{
  color: #1BB896;
}
.item1{
  font-family: 'fondamento';
}

body {
  overflow-x: hidden;
}
.item2{
  font-family: 'PT Sans';
}